#projects-container {
    width: 100%;
    height: 1440px;
    display: flex;
    flex-direction: column;
}

/*     SELECTIONS     */
#selection-container {
    width: 800px;
    height: 80px;
    margin: 5px auto;
    display: flex;
    flex-direction: row;
}

.selection-outer-div {
    width: 250px;
    height: 70px;
}

#left-selection {
    margin: auto 20px auto auto;
}

#right-selection {
    margin: auto auto auto 20px;
}

.selection-inner-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.selection-inner-div a {
    font-size: 28px;
    font-weight: normal;
    text-decoration: none;
    color: rgb(0, 0, 0, 1.0);
    margin: auto;
}

.selected {
    background: rgb(140, 140, 140, 1.0);
    border-radius: 15px;
}

.selected a {
    font-weight: bold;
    text-decoration: underline;
}

/*     GAMES SECTION     */
#games-container {
    width: 800px;
    height: 1290px;
    display: flex;
    flex-direction: column;
    margin: 5px auto 15px auto;
}

/*     CODING SECTION     */
#coding-container {
    width: 800px;
    height: 1290px;
    display: none;
    flex-direction: column;
    margin: 5px auto 15px auto;
}

/*     PROJECT     */
.project-outer-div {
    width: 600px;
    height: 600px;
    margin: 20px auto;
}

.project-inner-div {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.project-title {
    width: 90%;
    height: 70px;
    margin: 10px auto 3px auto;
    display: flex;
    flex-direction: column;
}

.project-title h2 {
    font-size: 27px;
    margin: auto;
    text-align: center;
}

.project-image {
    width: 370px;
    height: 200px;
    background-color: white;
    margin: 3px auto 3px auto;
}

.project-image img {
    width: 100%;
    height: 100%;
}

.project-body {
    width: 92%;
    height: 250px;
    margin: 3px auto 3px auto;
    display: flex;
    flex-direction: column;
}

.project-body p {
    margin: 20px auto;
    text-align: center;
    font-size: 21px;
}

.project-link {
    width: 80%;
    height: 40px;
    margin: 3px auto 3px auto;
    display: flex;
    flex-direction: column;
}

.project-link a {
    font-size: 21px;
    color: rgb(0, 0, 0, 1.0);
    font-weight: bold;
    text-decoration: underline;
    margin: auto;
}
.project-link a:hover {
    color: rgb(255, 255, 255, 1.0);
}

@media only screen and (max-width: 820px) {
    /*     SELECTIONS     */
    #selection-container {
        width: 92%;
        height: 80px;
    }

    .selection-outer-div {
        width: 175px;
        height: 70px;
    }

    #left-selection {
        margin: auto 10px auto auto;
    }

    #right-selection {
        margin: auto auto auto 10px;
    }

    .selection-inner-div a {
        font-size: 22px;
    }

    /*     GAMES SECTION     */
    #games-container {
        width: 90%;
    }

    /*     CODING SECTION     */
    #coding-container {
        width: 90%;
    }

    /*     PROJECT     */
    .project-outer-div {
        width: 95%;
    }

    .project-image {
        width: 300px;
        height: 170px;
    }

    .project-body {
        height: 285px;
    }

    .project-body p {
        margin: 10px auto;
        font-size: 21px;
    }
}